---
layout: splash
title: "Model Gallery"
permalink: /model-gallery/
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: banner.png
  actions:
    - label: "Download"
      url: "https://github.com/mmistakes/minimal-mistakes/"
  caption: ""
excerpt: "I use the [ASPECT](https://aspect.geodynamics.org) geodynamics modeling code to create numerical models for my research. Below are some links to animations of these models."
feature_row:
  - image_path: images/thumb_1.jpg
    alt: "thermochemical plumes"
    title: "Thermo-chemical plume"
    excerpt: "Thermo-chemical plume rising from the core-mantle boundary and interacting with an overlying, moving plate. The movie shows the isosurface of the chemical composition (here, the fraction of recycled oceanic crust)."
    url: "https://www.youtube.com/channel/UCG2ogAdh71heem6fPVQCKWA"
    btn_label: "Youtube"
    btn_class: "btn--primary"
---

{% include feature_row %}

{% include base_path %}

