---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: banner_research.png
  actions:
excerpt: "I am a PhD student in computational geodynamics, developing numerical models to study how Earth and other planets lithosphere deform through time."

feature_row3:
  - image_path: rp11.png
    alt: "integrated models"
    title: "Integrated Geodynamic Earth Models"
    excerpt: "Im am part of a group of researchers working on the 
    [Development and Application of a Framework for Integrated Geodynamic Earth Models](https://integrated-earth.github.io/). 
    Our goal is to create three-dimensional, integrated geodynamic reference models for the Earth above the core-mantle boundary, 
    that can then be used for the accurate forward simulation of the Earth state on time scales of millions of years.
    Constraining the Earth's present-day state heavily relies on seismic observations, and 
    I am particularly interested in how we can use our knowledge about the Earth's variable mineral grain size to infer the 
    temperature distribution in the Earth's interior from these observations."
    <!-- url: "https://integrated-earth.github.io/" -->

feature_row4:
  - image_path: projects.png
    alt: "other projects"
    title: "Other Projects"
    excerpt: "I work on a wide range of topics that can be addressed with geodynamic modeling techniques, 
    using the [ASPECT](https://aspect.geodynamics.org) software. 
    This includes: Numerical methods for lithosphere dynamics and mantle convection, 
    the interactions between mantle plumes and mid-ocean ridges, 
    the role of mineral grain size in mantle dynamics,
    accurately modeling mantle phase transitions,
    the accuracy and scalability of particle methods in geodynamic models,
    and how global mantle flow and subducting slabs influence the location and properties of mantle plumes."
---

{% include base_path %}

{% include feature_row id="feature_row3" type="left" %}
{% include feature_row id="feature_row4" type="left" %}

I wrote my <a href="https://doi.org/10.5281/zenodo.3516432">PhD Thesis</a>
on the interaction of subducted slabs and plume generation zones in geodynamic models. 
