---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: banner1.jpg
  actions:
excerpt: "I am a PhD student in computational geodynamics, developing numerical models to study how Earth and other planets lithosphere deform through time."

feature_row3:
  - image_path: rp11.png
    alt: "integrated models"
    title: "Continental rifts losing driving forces can still complete breakup"
    excerpt: "In this project,we investigated how temporally varying driving forces—such as those arising from changes in slab dynamics—affect rift evolution 
    using numerical and semi-analytical models.
    
    Our results show that the timing, duration, and magnitude of boundary traction reductions strongly influence rift behavior. Later initiation of traction
    reduction and slower rates of reduction tend to promote successful continental breakup. Even a 25% decrease in boundary traction can lead to breakup 
    under favorable conditions, while a 50% reduction often results in failed rifts. Interestingly, extension velocities do not always evolve monotonically; 
    temporary accelerations can occur during force reduction, reflecting the dynamic nature of force balance. As shown in (b) both rift acceleration (R-A) and rif failure (R-F) could occur during
    force reduction (75%) period.

    Our findings highlight that a rift can accelerate toward breakup even during periods of slow extension, demonstrating that variations in driving forces 
    play a critical role in determining whether continental rifting succeeds or fails. Manuscript is accepted in Scientific Reports." 
    

feature_row4:
  - image_path: projects.png
    alt: "other projects"
    title: "The Role of Mantle Plumes in Reactivating Rifts under Unfavorable Tectonic Conditions"
    excerpt: "I work on a wide range of topics that can be addressed with geodynamic modeling techniques, 
    using the [ASPECT](https://aspect.geodynamics.org) software. 
    This includes: Numerical methods for lithosphere dynamics and mantle convection, 
    the interactions between mantle plumes and mid-ocean ridges, 
    the role of mineral grain size in mantle dynamics,
    accurately modeling mantle phase transitions,
    the accuracy and scalability of particle methods in geodynamic models,
    and how global mantle flow and subducting slabs influence the location and properties of mantle plumes."

feature_row5:
  - image_path: rp3.png
    alt: "other projects"
    title: "Plume-Driven Asymmetry and the Emergence of Failed Rifts Under Ridge Push"
    excerpt: "The East African Rift System provides a unique tectonic setting to investigate asthenospheric influence
    on continental rifting in the presence of rigde push forces.
    The system comprises two active rift arms-the Eastern and Western branches encircling the Tanzanian craton. The Eastern Rift initiated earlier 
    and is more evolved, approaching continental breakup and incipient seafloor spreading, while the Western Rift remains at an earlier stage of development.
    We construct 2D models to constrain the mechanisms responsible for double rift development and identify the conditions under which one arm evolves into a 
    successful rift while the other stalls or fails. Abstract submitted to AGU 2025!"
---

{% include base_path %}

{% include feature_row id="feature_row3" type="left" %}
{% include feature_row id="feature_row4" type="left" %}
{% include feature_row id="feature_row5" type="left" %}

<!-- I wrote my <a href="https://doi.org/10.5281/zenodo.3516432">PhD Thesis</a>
on the interaction of subducted slabs and plume generation zones in geodynamic models.  -->
