---
layout: splash
title: "Software"
permalink: /software/
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: banner_research.png
  actions:
    - label: "Download"
      url: "https://github.com/mmistakes/minimal-mistakes/"
  caption: ""
excerpt: "I develop research software and contribute to a number of scientific software projects. For a complete list of packages I contribute to, please see my Github [profile](https://github.com/gassmoeller) profile."

feature_row:
  - image_path: gallery/cig.jpg
    title: "Computational Infrastructure for Geodynamics"
    excerpt: "I am a member of the research software working group of the Computational Infrastructure for Geodynamics, developing and implementing best practices for software development and community management."
    url: "https://geodynamics.org"
    btn_label: "Read More"
    btn_class: "btn--primary"

  - image_path: gallery/aspect-logo.png
    alt: "ASPECT"
    title: "ASPECT"
    excerpt: "I am one of the maintainers of the free modeling software ASPECT (Advanced Solver for Problems in Earth's Convection). ASPECT combines modern software development techniques to allow for more sophisticated and better tested geodynamic modelling studies."
    url: "https://aspect.geodynamics.org"

  - image_path: gallery/dealii-logo.png
    alt: "Deal.II"
    title: "Deal.II"
    excerpt: "I am one of the principal developers of the finite-element library deal.II contributing algorithms for particle methods and geoscientific applications."
    url: "https://dealii.org"
    btn_label: "Read More"
    btn_class: "btn--primary"

  - image_path: gallery/rayleigh.jpg
    alt: "Rayleigh"
    title: "Rayleigh"
    excerpt: "I contribute to the geodynamo modeling software Rayleigh.
    Rayleigh provides highly scalable algorithms for the modeling of
    planetary and stellar dynamos and their resulting magnetic fields." 
    url: "https://github.com/geodynamics/Rayleigh/"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row %}

{% include base_path %}

