---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: banner2.png
  actions:
excerpt: "<br>"
---

I teach courses and workshops on topics such as geodynamics, numerical modeling, scientific software development, and software community management. I have given tutorials with 5 to 100 participants for local research groups, graduate summer schools, national workshops and international scientific conferences. Please see below for a selection of my teaching engagements.

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
